* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.countdown {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.countdown h1 {
  font-size: 3rem;
  color: #1c1c1c;
}

.countdown-child {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.countdown p {
  font-size: 4rem;
  color: #1c1c1c;
  position: relative;
}

.countdown span {
  font-size: 1.5rem;
  color: #838383;
}

.countdown-child p::before {
  content: "";
  display: block;
  background-color: #838383;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  box-shadow: 0px -20px 0 #838383;
  position: absolute;
  top: 55%;
  left: -25px;
}

.countdown-child p.day::before {
  display: none;
}
